<ion-header>
    <ion-navbar>
        <ion-title>Intro to planet App</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Welcome to the Planet Listing</h2>
    <p>
        This simple project introducts the planet component and the planet service.
    </p>
    <p>
        The planet service returns a list of planets
    </p>
    <p>The planet component uses the service to retrieve the list and displays it in its component.</p>
    <p>The planet page is called from the tab.</p>
    <p>The planet page contains the planet component</p>
    <p>Look at app.module.ts and see the changes required to add the component and service</p>
</ion-content>