<ion-header>
    <ion-navbar>
        <ion-title>
            Planet Listing
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <app-planets></app-planets>

</ion-content>